page-setup {

	ion-slide ion-icon {
		display: inline-block;
		margin: -1px;
		width: 65px;
		height: 65px;
		padding: 15px !important;
		font-size: 3.5rem;
		background-color: map-get($colors, primary);
		color: #fff;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.slide-content {
		font-size: 1.5rem;
	}

	.slide-zoom {
		height: 100%;
	}

	.slide-title {
		margin-top: 2.8rem;
	}

	.slide-title:first-child {
		margin-top: 5rem;
	}

	.slide-image {
		max-height: 50%;
		max-width: 60%;
		margin: 18px 0;
	}
}
