page-emergency-contacts {
	ion-card {
		position: relative;
		text-align: center;
	}

	ion-card>img {
		-webkit-filter: blur(3px);
		filter: blur(3px);
	}

	ion-list ion-thumbnail {
		margin: 0 auto;
	}

	ion-list ion-thumbnail ion-icon {
		display: inline-block;
		margin: -1px;
		width: 65px;
		height: 65px;
		padding: 16px;
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		font-size: 3.3rem;
		background-color: map-get($colors, primary);
		color: #fff;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
	}

	.card-title {
		position: absolute;
		top: 36%;
		font-size: 2.0em;
		width: 100%;
		font-weight: bold;
		color: #fff;
	}

	.card-subtitle {
		font-size: 1.0em;
		position: absolute;
		top: 52%;
		width: 100%;
		color: #fff;
	}

	.item {
		border-bottom: 1px solid #dedede;

		ion-icon[item-start]+.item-inner {
			margin-left: 10px;
		}
	}

	.list .item-block .item-inner {
		border: none;
	}
}
