page-budgets {
    
    ion-card.card ion-card-header {
        background-color: map-get($colors, primary);
        color: white;
        position: relative;

        button{
            position: absolute;
            top: 35%;
            right: 0%;
            background-color: transparent;
            box-shadow: none;
            color: white;
        }  
        
    //    button#view-button {
    //         position: absolute;
    //         top: 7%;
    //         right: 0%;
    //         background-color: transparent;
    //         box-shadow: none;
    //     }  
        
    //     button#delete-button {
    //         position: absolute;
    //         top: 7%;
    //         right: 10%;
    //         background-color: transparent;
    //         box-shadow: none;
    //     } 
    }

    ion-card ion-card-content.card-content {
     padding: 0;
    }

    hr{
        margin: 0;
    }     
}
