<ion-header>
	<ion-navbar color="primary">
		<ion-title>GoGo Wallet</ion-title>
		<ion-buttons end>
			<button (click)="signout()">
				SIGN OUT
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>Overview</ion-card-header>
		<ion-card-content>
			<div *ngIf="spendingsTotal != null && budgetTotal != null">
				<canvas #pieCanvas></canvas>
			</div>

			<div *ngIf="spendingsTotal == null && budgetTotal == null">
				<h2 text-center>Start with creating your own budgets!</h2>
				<ion-row>
					<button ion-button (click)="navigateToBudgets()">CREATE BUDGET</button>
				</ion-row>
			</div>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>Features</ion-card-header>
		<ion-card-content>
			<ion-list>
				<ion-item type="button" (click)="navigateToBudgets()">
					<ion-icon name="logo-euro" item-start></ion-icon>
					<ion-label>Budgets</ion-label>
					<ion-note item-end>Manage</ion-note>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>Transactions</ion-card-header>
		<ion-card-content>
			<ion-list *ngIf="transactions.length > 0">
				<ion-item *ngFor="let transaction of transactions">
					<h2>{{ transaction.name }}</h2>
					<p>{{ transaction.date | date: 'dd-MM HH:mm' }}</p>
					<ion-note item-end>&euro; {{ transaction.amount | number: '1.2-2' }}</ion-note>
				</ion-item>
			</ion-list>

			<div *ngIf="transactions.length == 0">
				<h2 text-center>Start with syncing your bank account!</h2>
				<ion-row>
					<button ion-button (click)="navigateToProfile()">SET BANK ACCOUNT</button>
				</ion-row>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
