<ion-header color="whitetransparent">
  <h1 class="title">Go Go Wallet</h1>
</ion-header>

<ion-content padding fullscreen="true">
  <video webkit-playsinline playsinline muted autoplay loop poster="../../assets/imgs/bg5.jpeg">
    <!-- <source src="assets/video/vid6.mp4" type='video/mp4; codecs="h.264"'> -->
    <source src="assets/video/vid6.webm" type="video/webm">
  </video>

  <form novalidate [formGroup]="loginForm">
    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item class="transparent-input">
            <ion-label floating>Email</ion-label>
            <ion-input type="email" [(ngModel)]="emailInput" formControlName="email"></ion-input>
          </ion-item>

          <!-- Email error-->
          <ion-item class="error" no-lines *ngIf="(loginForm.get('email').hasError('required') || loginForm.get('email').hasError('email')) && loginForm.get('email').touched">
            <span *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').hasError('email') && loginForm.get('email').touched">
              E-mail is required
            </span>
            <span *ngIf="!loginForm.get('email').hasError('required') && loginForm.get('email').hasError('email') && loginForm.get('email').touched">
              Please enter a valid e-mail
            </span>
          </ion-item>

          <ion-item class="transparent-input">
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="passwordInput" formControlName="password"></ion-input>
          </ion-item>

          <!-- Password error-->
          <ion-item class="error" no-lines *ngIf="(loginForm.get('password').hasError('required') || loginForm.get('password').hasError('minlength') 
          || loginForm.get('password').hasError('hasNumber') || loginForm.get('password').hasError('hasCapitalCase') || loginForm.get('password').hasError('hasLowerCase') 
          || loginForm.get('password').hasError('hasSpecialCharacters')) && loginForm.get('password').touched">
            <div *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
              Password is required.
            </div>
            <div *ngIf="(loginForm.get('password').hasError('hasNumber') || loginForm.get('password').hasError('hasCapitalCase') 
              || loginForm.get('password').hasError('hasLowerCase') || loginForm.get('password').hasError('hasSpecialCharacters')) && loginForm.get('password').touched">
              A password must be at least 8 characters long, contain at least one number and have a mixture of
              uppercase, lowercase letters and a special character.
            </div>
          </ion-item>

          <div hidden></div>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button class="login-btn" full type="button" [disabled]="!loginForm.valid" (click)="signIn()">Login</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button class="register-link" full type="button" (click)="navigateToRegister()" clear>Register</button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
