// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Helper
//-----------------------------------------------------------------

// Center Text
.text-center {
	text-align: center;
}


// Input
//-----------------------------------------------------------------

// Transparent input
.transparent-input {
	background: transparent;

	ion-label {
		color: white !important;
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	}

	input {
		color: white;
	}
}


// Error Handling
//-----------------------------------------------------------------

// Error messages
.error {
	color: red;
	-webkit-text-stroke: 0.15px rgba(255, 255, 255, 0.5);
	background: transparent !important;
	font-weight: 500;
	font-size: 1.3rem;
	padding: 0 !important;
	margin: 0 !important;
	height: 15px !important;
}

// Profile
//-----------------------------------------------------------------

// Profile picture
.profile {
	object-fit: cover;
	border-radius: 50%;
	height: 170px;
	width: 170px;
}

.profile.small {
	height: 100px;
	width: 100px;
}

ion-loading.transparent-spinner {
	.loading-wrapper {
		background: transparent;
		box-shadow: none;

		.spinner-crescent circle,
		.spinner-circles {
			zoom: 3;
		}
	}
}
