<ion-header>

  <ion-navbar color="darktransparent">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form novalidate [formGroup]="resetForm">
    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item class="transparent-input">
            <ion-label floating>Email</ion-label>
            <ion-input type="email" [(ngModel)]="user.email" formControlName="email" required></ion-input>
          </ion-item>

          <!-- Email error-->
          <ion-item class="error" no-lines *ngIf="(resetForm.get('email').hasError('required') || resetForm.get('email').hasError('email')) && resetForm.get('email').touched">
            <span *ngIf="resetForm.get('email').hasError('required') && resetForm.get('email').hasError('email') && resetForm.get('email').touched">
              E-mail is required.
            </span>
            <span *ngIf="!resetForm.get('email').hasError('required') && resetForm.get('email').hasError('email') && resetForm.get('email').touched">
              Please enter a valid e-mail.
            </span>
          </ion-item>

          <div hidden></div>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button class="reset-btn" full round type="button" [disabled]="!resetForm.valid" (click)="reset()">Reset</button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
