page-view-contact {
	ion-item:nth-child(4) {
		padding-top: 3rem;
	}

	ion-col ion-icon {
		display: inline-block;
		margin: -1px;
		width: 110px;
		height: 110px;
		padding: 20px;
		font-size: 6.3rem;
		background-color: map-get($colors, primary);
		color: #fff;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		margin-bottom: 2rem;
	}

	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
	.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
		border-bottom-color: #dedede !important;
		box-shadow: inset 0 -1px 0 0 #dedede !important;
	}
}
